@use "../custom/mixin";


.header {
  background: #ffffff1a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 80px;
  @include mixin.mq(sm) {
    background-color: #fff;
    height: 63px;
  }
}
.header__inner {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 40px;
  @include mixin.mq(sm) {
    padding: 0 16px;
  }
}
.header-logo {
  display: none;
  color: #3e3e3e;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 63px;
  @include mixin.mq(sm) {
    display: block;
  }
}

.header__nav-list {
  justify-content: center;
  @include mixin.mq(md) {
    display: flex;
  }
  @include mixin.mq(sm) {
    padding-top: 160px;
    text-align: center;
  }
}

.header__nav-item {
  @include mixin.mq(md) {
    &:not(:first-child) {
      margin-left: 40px;
    }
  }
  @include mixin.mq(sm) {
    font-size: 1.8rem;

    & + & {
      margin-top: 30px;
    }
  }
}

.drawer-hamburger-icon {
  height: 4px;
  &::after,
  &::before {
    height: 4px;
  }
}

