-
  const menus = [
    {
      name:  "News",
      url: `#news`
    },
    {
      name: "Service",
      url: `#service`
    },
    {
      name: "Results",
      url: `#result`
    },
    {
      name: "Price",
      url: `#price`
    },
    {
      name: "Comments",
      url: `#comment`
    },
    {
      name: "Access",
      url: `#access`
    },
    {
      name: "FAQs",
      url: `#faq`
    },
    {
      name: "Contact",
      url: `#contact`
    },
  ];

header#js-header.header
  .header__inner
    p.header-logo Sample Corp.
      button.drawer-toggle.drawer-hamburger(type="button")
        span.drawer-hamburger-icon
    nav.drawer-nav.header__nav
      ul.drawer-menu.header__nav-list
        each menu in menus 
          li.header__nav-item: a.header__nav-item-link(href=menu.url) #{menu.name}
